<ion-view view-title="Help">
  <ion-content>
   
   <div class="container">
<br>
       
      <div>
        <button ng-click="changeLanguage('en')" class="btn btn-small btn-success">English</button>
        <button ng-click="changeLanguage('hi')"  class="btn btn-small btn-success">Hindi</button>
                <button ng-click="changeLanguage('mr')"  class="btn btn-small btn-success">Marathi</button>

        <button ng-click="changeLanguage('gr')"  class="btn btn-small btn-success">Gujrati</button>

      </div>
      
    <br>


 <div class="panel panel-primary">
      <div class="panel-heading"><h3>English</h3></div>
      <div class="panel-body"> 
	  <p>{{'1' | translate}}</p>
	  <p>{{'2' | translate}}</p>
	  <p>{{'3' | translate}}</p>
	  <p>{{'4' | translate}}</p></div>
    </div>

     
 
  

</div>
  </ion-content>
</ion-view>
