<ion-view view-title="Help">
  <ion-content>
   
   <div class="container">
<br>
 <div class="panel panel-primary">
      <div class="panel-heading"><h3>English</h3></div>
      <div class="panel-body"> 
		<p>1. Add button give's addition of two numbers</p>
		<p>2. Subract button gives subraction of two numbers</p>
		<p>3. Division button gives division of two numbers</p>
		<p>4. Multiply numbers gives multiplication of two numbers</p>
</div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">   <h3>Hindi</h3>
</div>
      <div class="panel-body"> 
	    <p>1. जोड़ें बटन आपको दो संख्याओं को जोड़ते हैं</p>
    	<p>2. घटाएं बटन दो नंबरों का खंडन देता है</p>
		<p>3. डिवीजन बटन में दो नंबर का विभाजन होता है</p>
		<p>4. गुणा संख्या दो संख्याओं का गुणन देता है</p>

</div>
    </div>


   <div class="panel panel-primary">
      <div class="panel-heading">   <h3>Marathi</h3>
</div>
      <div class="panel-body"> 
		  <p>1. दोन संख्यांचा जोडा बटण देणे च्या व्यतिरिक्त</p>
  		  <p>2. वजा बटण दोन नंबर वजा</p>
		<p>3. विभाग बटण दोन संख्यांचा भागाकार देते</p>
		<p>4. गुणाकार संख्या दोन संख्यांचा गुणाकार देते</p>
</div>
    </div>

      <div class="panel panel-primary">
      <div class="panel-heading">   <h3>Gujrati</h3>
</div>
      <div class="panel-body"> 
  <p>1. બે નંબરો ઉમેરો બટન આપી વધુમાં</p>
    <p>2. બાદબાકી બટન બે નંબરો બાદબાકી</p>
<p>3. વિભાગ બટન બે નંબરો વિભાજન આપે</p>
<p>4. ગુણાકાર નંબરો બે નંબરો ગુણાકાર આપે</p>
</div>
    </div>
 
  

</div>
  </ion-content>
</ion-view>
